<div class="container-fluid p-0">
  <div class="row p-0 m-0">
    <div class="col-12 card">
      <h2>Profil du Tier</h2>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <!-- Tab 1: Profil -->
        <mat-tab label="Tier">
          <app-tier-profil></app-tier-profil>
        </mat-tab>
        <mat-tab label="Profil Dpm">
          <app-dpm-profil></app-dpm-profil>
        </mat-tab>

        <mat-tab label="Liste Dpp">
          <app-dpp-profil></app-dpp-profil>
        </mat-tab>

        <!-- Tab 2: Historique -->
        <mat-tab label="Historique">
          <div class="container-fluid mt-4">
            <!-- Empty for now -->
            <p>Contenu à venir...</p>
          </div>
        </mat-tab>
        <!-- Tab 2: Contrat -->
        <mat-tab label="Liste des contrats">
          <app-list-contrat [isContrat]="true"></app-list-contrat>
        </mat-tab>

        <mat-tab label="Liste des projets">
          <app-list-contrat [isContrat]="false"></app-list-contrat>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
