<div class="container-fluid p-0">
  <div class="row p-0 m-0">
    <div class="col-12 card">
      <h5>Profil du Tier</h5>
      @if(isLoading()){
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      } @else {
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <!-- Tab 1: Profil -->
        <mat-tab label="Tier">
          <app-tier-profil [tier]="tierObject"></app-tier-profil>
        </mat-tab>
        @if(tierObject()?.Typtiers ==1){
        <mat-tab label="Liste Dpp">
          <app-dpp-profil [listdpp]="dpplist"></app-dpp-profil>
        </mat-tab>
        }@else{
        <mat-tab label="Profil Dpm">
          <app-dpm-profil [selectedDPM]="dpmObject"></app-dpm-profil>
        </mat-tab>
        }

        <!-- Tab 2: Historique -->
        <mat-tab label="Historique">
          <div class="container-fluid mt-4">
            <!-- Empty for now -->
            <p>Contenu à venir...</p>
          </div>
        </mat-tab>
        <!-- Tab 2: Contrat -->
        <mat-tab label="Liste des contrats">
          <app-list-contrat [isContrat]="true" [idTier]="id"></app-list-contrat>
        </mat-tab>
        <!--
        <mat-tab label="Liste des projets">
          <app-list-contrat [isContrat]="false" [idTier]="id"></app-list-contrat>
        </mat-tab> -->
      </mat-tab-group>
      }
    </div>
  </div>
</div>
