<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #drawer
    class="sidebar"
    [mode]="(isDesktop$ | async) ? 'side' : 'over'"
    [opened]="(isDesktop$ | async) ? true : false"
  >
    <div class="logo-bar">GXA Courtiers</div>

    <ul class="custom-nav">
      <li routerLink="dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Tableau de bord</span>
      </li>
      <li routerLink="tiers" routerLinkActive="active-link">
        <mat-icon>people</mat-icon>
        <!-- better represents clients or tiers -->
        <span>Gestion des Tiers</span>
      </li>

     <!-- <li routerLink="contrats" routerLinkActive="active-link">
        <mat-icon>description</mat-icon>
        <span>Gestion des Contrats</span>
      </li>-->
      <li routerLink="produits" routerLinkActive="active-link">
        <mat-icon>inventory</mat-icon>
        <span>Produits</span>
      </li>
      <li routerLink="bordereaux/list" routerLinkActive="active-link">
        <mat-icon>folder</mat-icon>
        <span>Liste des bordereaux</span>
      </li>
      <li routerLink="commissions" routerLinkActive="active-link">
        <mat-icon>attach_money</mat-icon>
        <span>Commissions</span>
      </li>
      <li routerLink="profile" routerLinkActive="active-link">
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    @if(isDesktop$ | async){
    <div class="desktop-header">
      <app-header (drawerOpen)="drawer.toggle()"></app-header>
    </div>
    } @else {
    <div class="mobile-header">
      <button class="menu-btn" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="mobile-logo">
        <mat-icon>business</mat-icon>
        <span>GXA Courtiers</span>
      </div>
    </div>

    }

    <div class="">
      <div [@routeAnimations]="getRouteAnimation(routerOutlet)" class="content">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
