@import "src/style";
.layout-container {
  height: 100vh;
}

.sidebar {
  width: 240px;
  background: white;
  color: $primary;
}

.logo-bar {
  font-weight: bold;
  color: $primary;
}

.content {
  padding: 1rem;
  background: #f5f5f5;
  min-height: calc(100vh - 64px - 40px);
}

.mobile-toolbar {
  display: flex;
  align-items: center;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}

.desktop-header {
  display: block;
}

@media (max-width: 767px) {
  .desktop-header {
    display: none;
  }
}
