
   <button class="btn btn-group btn-primary"[routerLink]="['/courtiers/quittance/nouveau']" routerLinkActive="router-link-active" >
        <mat-icon>add</mat-icon>

        Nouvelle quittance</button
      >
<div class="table-responsive mt-4">
  <table class="table table-bordered table-hover table-sm">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Police</th>
        <th>Libellé</th>
        <th>Nature</th>
        <th>Contrat</th>
        <th>Entité</th>
        <th>Cie</th>
        <th>Total quittance</th>
        <th>Primes nettes</th>
        <th>Commissions</th>
        <th>Taxe</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      @for(q of quittances; track q.Numero) {
        <tr>
          <td>{{ q.Numero }}</td>
          <td>{{ q.Police }}</td>
          <td>{{ q.Libelle }}</td>
          <td>{{ q.Nature }}</td>
          <td>{{ q.Contrat }}</td>
          <td>{{ q.Entite }}</td>
          <td>{{ q.Cie }}</td>
          <td>{{ q.Totquit }} {{ q.Totquit1 }}</td>
          <td>{{ q.Pnette }} {{ q.Pnette1 }}</td>
          <td>{{ q.Comm }} {{ q.Comm1 }}</td>
          <td>{{ q.Taxe }} {{ q.Taxe1 }}</td>
          <td>
         <button class="btn btn-primary" (dblclick)="encaisser()">Encaisser</button>
          </td>

        </tr>
      }
    </tbody>
  </table>
</div>
