<div class="container-fluid mt-4 p-2">
  <div class="row">
      <div class="col-12">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Numdpp</th>
            <th scope="col">Numtiers</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (dpp of listdpp(); track dpp.Numdpp) {
          <tr (click)="selectedDPP.set(dpp)">
            <td>{{ dpp.Numdpp }}</td>
            <td>{{ dpp.Numtiers }}</td>
            <td>{{ dpp.Nom }}</td>
            <td>{{ dpp.Prenom }}</td>
            <td>
              <button
                class="btn btn-group btn-primary"
                (click)="detailMode = true;selectedDPP.set(dpp)"
              >
                Voir Détails
              </button>

            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
 @if(editMode){
<div class="col-12">
  <form [formGroup]="dppForm" (ngSubmit)="onSubmit()">
    <div class="row d-flex flex-wrap gap-3 justify-content-start">
      <!-- Titre -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Titre</mat-label>
          <mat-select formControlName="Titre">
            <mat-option *ngFor="let t of titres" [value]="t">{{ t }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Nom et prénom -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="Nom" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="Prenom" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nom de jeune fille</mat-label>
          <input matInput formControlName="Nomfille" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Alias</mat-label>
          <input matInput formControlName="Alias" />
        </mat-form-field>
      </div>

      <!-- Sexe et date de naissance -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Sexe</mat-label>
          <mat-select formControlName="Sexe">
            <mat-option *ngFor="let s of sexes" [value]="s">{{ s }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date de naissance</mat-label>
          <input
            matInput
            [matDatepicker]="pickerNaiss"
            formControlName="Datenais"
          />
          <mat-datepicker-toggle matSuffix [for]="pickerNaiss"></mat-datepicker-toggle>
          <mat-datepicker #pickerNaiss></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Âge</mat-label>
          <input matInput type="number" formControlName="Age" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Âge millésime</mat-label>
          <input matInput type="number" formControlName="Agemsme" />
        </mat-form-field>
      </div>

      <!-- Nationalité et numéro de sécurité sociale -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nationalité</mat-label>
          <mat-select formControlName="National">
            <mat-option *ngFor="let n of nationals" [value]="n">{{ n }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>N° de sécurité sociale</mat-label>
          <input matInput formControlName="Numss" />
        </mat-form-field>
      </div>

      <!-- Situation familiale et activité -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Situation familiale</mat-label>
          <mat-select formControlName="Sitfam">
            <mat-option *ngFor="let sf of sitfams" [value]="sf">{{ sf }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Activité</mat-label>
          <mat-select formControlName="Activite">
            <mat-option *ngFor="let a of activites" [value]="a">{{ a }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Catégorie professionnelle et profession -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Catégorie professionnelle</mat-label>
          <input matInput formControlName="Catprof" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Profession</mat-label>
          <input matInput formControlName="Profess" />
        </mat-form-field>
      </div>

      <!-- Employeur et filiale -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Employeur</mat-label>
          <input matInput formControlName="Employe" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Filiale</mat-label>
          <input matInput formControlName="Filiale" />
        </mat-form-field>
      </div>

      <!-- Date d'entrée dans l'entreprise -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date d'entrée dans l'entreprise</mat-label>
          <input
            matInput
            [matDatepicker]="pickerEnt"
            formControlName="Dateent"
          />
          <mat-datepicker-toggle matSuffix [for]="pickerEnt"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnt></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Salaire annuel -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Salaire annuel</mat-label>
          <input matInput type="number" formControlName="Salaire" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Devise</mat-label>
          <input matInput formControlName="Salaire1" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Année salaire</mat-label>
          <input matInput type="number" formControlName="Datesal" />
        </mat-form-field>
      </div>

      <!-- Téléphone professionnel et email personnel -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Téléphone professionnel</mat-label>
          <input matInput formControlName="Telprof" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email personnel</mat-label>
          <input matInput formControlName="Numemail" />
        </mat-form-field>
      </div>

      <!-- Numéro permis de conduire -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Numéro permis de conduire</mat-label>
          <input matInput formControlName="Npermis" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Lieu de délivrance du permis</mat-label>
          <input matInput formControlName="Lieuperm" />
        </mat-form-field>
      </div>

      <!-- Dates des permis -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date conduite accompagnée</mat-label>
          <input matInput [matDatepicker]="pickerCA" formControlName="Dateca" />
          <mat-datepicker-toggle matSuffix [for]="pickerCA"></mat-datepicker-toggle>
          <mat-datepicker #pickerCA></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date permis moto A</mat-label>
          <input matInput [matDatepicker]="pickerMoto" formControlName="Datemoto" />
          <mat-datepicker-toggle matSuffix [for]="pickerMoto"></mat-datepicker-toggle>
          <mat-datepicker #pickerMoto></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-checkbox formControlName="Condacc">Conduite accompagnée</mat-checkbox>
      <mat-checkbox formControlName="Enfass">Enfant d'assuré</mat-checkbox>

      <!-- Organisme d'affiliation -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Organisme d'affiliation</mat-label>
          <input matInput formControlName="Orgaffil" />
        </mat-form-field>
      </div>

      <!-- Permis bateau -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Type permis bateau</mat-label>
          <input matInput formControlName="Typepermisbateau" />
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date permis bateau</mat-label>
          <input matInput [matDatepicker]="pickerBateau" formControlName="Datepermisbateau" />
          <mat-datepicker-toggle matSuffix [for]="pickerBateau"></mat-datepicker-toggle>
          <mat-datepicker #pickerBateau></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Date obtention BSR -->
      <div class="col-md-3 col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date obtention BSR</mat-label>
          <input matInput [matDatepicker]="pickerBSR" formControlName="Datebsr" />
          <mat-datepicker-toggle matSuffix [for]="pickerBSR"></mat-datepicker-toggle>
          <mat-datepicker #pickerBSR></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-end gap-2">
      <button class="btn btn-group btn-primary" color="primary" type="submit" [disabled]="!dppForm.valid">
        <mat-icon>save</mat-icon>
        Mettre à jour
      </button>
      <button class="btn btn-group btn-warning" color="primary" type="button" (click)="editMode = false;detailMode = false">
        <mat-icon>cancel</mat-icon>
        Annuler
      </button>
    </div>
  </form>
</div>
}


    @if(detailMode) {
  <div class="col-12">
  <!-- Action Buttons -->
  <div class="d-flex justify-content-end mb-3">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="toggleEditMode()">
        {{ editMode ? "Annuler" : "Modifier" }}
      </button>
    </div>
  </div>
</div>

<div class="col-12">
  <mat-card class="mb-4 p-4">
    <mat-card-title>Identité</mat-card-title>
    <mat-card-content>
      <table>
        <tr>
          <td><strong>N° de personne physique:</strong></td>
          <td><span>{{ dppForm.get("Numdpp")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>N° de tiers:</strong></td>
          <td><span>{{ dppForm.get("Numtiers")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Titre:</strong></td>
          <td><span>{{ dppForm.get("Titre")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Nom:</strong></td>
          <td><span>{{ dppForm.get("Nom")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Prénom:</strong></td>
          <td><span>{{ dppForm.get("Prenom")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Nom complet:</strong></td>
          <td><span>{{ dppForm.get("Nompre")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Nom de jeune fille:</strong></td>
          <td><span>{{ dppForm.get("Nomfille")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Alias:</strong></td>
          <td><span>{{ dppForm.get("Alias")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Sexe:</strong></td>
          <td><span>{{ dppForm.get("Sexe")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Date de naissance:</strong></td>
          <td><span>{{ dppForm.get("Datenais")?.value | date }}</span></td>
        </tr>
        <tr>
          <td><strong>Âge:</strong></td>
          <td><span>{{ dppForm.get("Age")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Âge millésime:</strong></td>
          <td><span>{{ dppForm.get("Agemsme")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Nationalité:</strong></td>
          <td><span>{{ dppForm.get("National")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>N° de sécurité sociale:</strong></td>
          <td><span>{{ dppForm.get("Numss")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Situation familiale:</strong></td>
          <td><span>{{ dppForm.get("Sitfam")?.value }}</span></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4 p-4">
    <mat-card-title>Profession & Activité</mat-card-title>
    <mat-card-content>
      <table>
        <tr>
          <td><strong>Activité:</strong></td>
          <td><span>{{ dppForm.get("Activite")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Catégorie professionnelle:</strong></td>
          <td><span>{{ dppForm.get("Catprof")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Code socio-professionnel:</strong></td>
          <td><span>{{ dppForm.get("Csp")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Profession:</strong></td>
          <td><span>{{ dppForm.get("Profess")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Employeur:</strong></td>
          <td><span>{{ dppForm.get("Employe")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Filiale:</strong></td>
          <td><span>{{ dppForm.get("Filiale")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Date d'entrée:</strong></td>
          <td><span>{{ dppForm.get("Dateent")?.value | date }}</span></td>
        </tr>
        <tr>
          <td><strong>Salaire annuel:</strong></td>
          <td>
            <span>{{ dppForm.get("Salaire")?.value }} {{ dppForm.get("Salaire1")?.value }}</span>
          </td>
        </tr>
        <tr>
          <td><strong>Année du salaire:</strong></td>
          <td><span>{{ dppForm.get("Datesal")?.value }}</span></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4 p-4">
    <mat-card-title>Coordonnées</mat-card-title>
    <mat-card-content>
      <table>
        <tr>
          <td><strong>Téléphone pro:</strong></td>
          <td><span>{{ dppForm.get("Telprof")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Poste:</strong></td>
          <td><span>{{ dppForm.get("Postetel")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Fax pro:</strong></td>
          <td><span>{{ dppForm.get("Faxpro")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Portable:</strong></td>
          <td><span>{{ dppForm.get("Portable")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Email personnel:</strong></td>
          <td><span>{{ dppForm.get("Numemail")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Email professionnel:</strong></td>
          <td><span>{{ dppForm.get("Emailprof")?.value }}</span></td>
        </tr>
        <tr>
          <td><strong>Lieu de naissance:</strong></td>
          <td><span>{{ dppForm.get("Lieunaissance")?.value }}</span></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

    }
  </div>
</div>
