<div class="container-fluid">
  <div class="row card p-3 m-0">
    <div class="col-12 form">
      <!-- Formulaire Bootstrap -->
      <form
        [formGroup]="filtersForm"
        class="form-search w-100 row g-3 align-items-end"
      >
        <!-- Recherche -->
        <div class="col-md-6 col-10">
          <label for="search" class="form-label">
            <h5>Recherche</h5>
          </label>
          <div class="input-group">
            <input
              type="search"
              id="search"
              class="form-control"
              placeholder="Nom, téléphone, adresse..."
              formControlName="search"
            />
            <span class="input-group-text">
              <mat-icon>search</mat-icon>
              <!-- Bootstrap Icons, sinon remplacer par une autre icône -->
            </span>
          </div>
        </div>



        <!-- Bouton Nouveau -->
        <div class="col-md-2 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['/courtiers/tiers/nouveau']"
            routerLinkActive="active"
          >
           <mat-icon>add</mat-icon> Nouveau tier
          </button>
        </div>
      </form>
    </div>

    <div class="col-12 mt-5">
      <!-- Tableau Bootstrap -->
      <table class="table table-striped table-bordered w-100">
        <thead class="table-dark">
          <tr>
            <th>Type</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (element of filteredTiers();track element){
          <tr>
            <td>
              <mat-icon
                [color]="element.type === 'physique' ? 'primary' : 'accent'"
              >
                {{ element.type === "physique" ? "person" : "apartment" }}
              </mat-icon>
            </td>
            <td>{{ element.nom }}</td>
            <td>{{ element.adresse }}</td>
            <td>{{ element.ville }}</td>
            <td>
              <button
                class="btn btn-sm btn-primary"
                (click)="editTier(element)"
              >
                <i class="bi bi-pencil"></i> Consulter
              </button>
            </td>
          </tr>
          } @if (filteredTiers().length === 0){
          <tr>
            <td colspan="6" class="text-center">Aucun tiers trouvé</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
