<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <h5>Détails du projet numero:</h5>

    </div>
    <div class="col-12">
      <!-- contrat-stepper.component.html -->
      <form [formGroup]="contratForm">
        <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step>
            <ng-template matStepLabel
              >Informations générales et choix du produits</ng-template
            >
            <info-general-contrat
              [isContrat]="isContrat"
              [formGroup]="contratForm"
            ></info-general-contrat>
            <produits-contrat></produits-contrat>

            <button class="btn btn-primary mt-5" matStepperNext>SUIVANT</button>
          </mat-step>

          <!-- Étape 2 -->
          <mat-step>
            <ng-template matStepLabel>Données administratives</ng-template>
            <admin-contrat></admin-contrat>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary mt-5" matStepperPrevious>
                PRÉCÉDENT
              </button>
              <button class="btn btn-primary mt-5" matStepperNext>
                SUIVANT
              </button>
            </div>
          </mat-step>

          <!-- Étape 2 -->
          <mat-step>
            <ng-template matStepLabel
              >Données administratives - Pieces</ng-template
            >
            <admin-piece-contrat></admin-piece-contrat>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary mt-5" matStepperPrevious>
                PRÉCÉDENT
              </button>
              <button class="btn btn-primary mt-5" matStepperNext>
                SUIVANT
              </button>
            </div>
          </mat-step>

          <!-- Étape 2 -->
          <mat-step>
            <ng-template matStepLabel>Risques</ng-template>
            <risque-contrat></risque-contrat>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary mt-5" matStepperPrevious>
                PRÉCÉDENT
              </button>
              <button class="btn btn-primary mt-5" matStepperNext>
                SUIVANT
              </button>
            </div>
          </mat-step>

          <!-- Ajoute les autres étapes ici -->

          <mat-step>
            <ng-template matStepLabel>Enregistrement</ng-template>
            <p>Vérifiez les informations saisies.</p>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary mt-5" matStepperPrevious>
                PRÉCÉDENT
              </button>
              <button
                class="btn btn-warning"
                color="primary"
                (click)="onSubmit()"
              >
                Enregistrer
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>
