<div class="container-fluid">
  <div class="row card p-3 m-0">
    <div class="col-12 d-flex justify-content-between">
      <h5>Liste des projets</h5>
      <button class="btn btn-group btn-primary" (click)="nouveauProjet()">
        <mat-icon>add</mat-icon>

        Nouveau projet
      </button>
    </div>
    <div class="col-12 mt-5">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Numéro projet</th>
            <th>Intitulé</th>
            <th>Date début</th>
            <th>Crée par</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(project of listProjets; track project) {
          <tr>
            <td>{{ project?.id }}</td>
            <td>{{ project.libelle || "-" }}</td>

            <td>{{ project.datecre | date : "dd/MM/yyyy" }}</td>
            <td>{{ project.creepar }}</td>

            <td class="d-flex gap-2">
              <button class="btn btn-group btn-primary" (click)="edit(project)">
                <mat-icon>edit</mat-icon>

                Modifier
              </button>
            </td>
          </tr>

          }
        </tbody>
      </table>
    </div>
  </div>
</div>
