<div class="row">

  <div class="col-12">
    <form [formGroup]="vehiculeForm" class="card">
      <h2 class="text-xl font-bold">Formulaire Véhicule</h2>

      <!-- CATEGORIE -->
      <div class="d-flex m-3 flex-column">
        <label class="block mb-1">Catégorie</label>
        <select formControlName="codeprod" class="border p-2 rounded w-full">
          <option value="">-- Choisir une catégorie --</option>
          @for(cat of listProduits;track cat){
          <option [value]="cat.codeprod">
            {{ cat.libelle }}
          </option>
          }
        </select>
      </div>



    </form>
  </div>

</div>
