<div class="container-fluid mt-4 p-2">
  <div class="row">
    <div class="col-12">
      <!-- Action Buttons -->
      <div class="d-flex justify-content-end mb-3">
        <div class="btn-group">
          <button class="btn btn-primary" (click)="toggleEditMode()">
            {{ editMode ? "Annuler" : "Modifier" }}
          </button>
        </div>
      </div>
    </div>
    @if(editMode){
    <div class="col-12">
      <!-- Form -->
      <form [formGroup]="tierForm" (ngSubmit)="save()">
        <div class="row d-flex flex-wrap gap-3 justify-content-start">
          <!-- Type de Tiers -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Type de Tiers</mat-label>
              <mat-select
                [disabled]="!editMode"
                formControlName="Typtiers"
                [value]="tier()?.Typtiers"
              >
                <mat-option value="ddp">Personne Physique</mat-option>
                <mat-option value="dpm">Personne Morale</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Nature du Tiers -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nature du Tiers</mat-label>
              <input
                matInput
                formControlName="Nattiers"
                [value]="tier()?.Nattiers"
              />
            </mat-form-field>
          </div>

          <!-- Num DPP -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Num DPP</mat-label>
              <input
                matInput
                type="number"
                formControlName="Numdpp"
                [value]="tier()?.Numdpp"
              />
            </mat-form-field>
          </div>

          <!-- Titre -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Titre</mat-label>
              <input matInput formControlName="Titre" [value]="tier()?.Titre" />
            </mat-form-field>
          </div>

          <!-- Raison Sociale -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Raison Sociale</mat-label>
              <input
                matInput
                formControlName="Rsociale"
                [value]="tier()?.Rsociale"
              />
            </mat-form-field>
          </div>

          <!-- Référence -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Référence</mat-label>
              <input
                matInput
                formControlName="Referenc"
                [value]="tier()?.Referenc"
              />
            </mat-form-field>
          </div>

          <!-- Connexe -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Connexe</mat-label>
              <input
                matInput
                formControlName="Connexe"
                [value]="tier()?.Connexe"
              />
            </mat-form-field>
          </div>

          <!-- Référence Externe -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Référence Externe</mat-label>
              <input
                matInput
                formControlName="Refext"
                [value]="tier()?.Refext"
              />
            </mat-form-field>
          </div>

          <!-- Adresse 1/2/3 -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Adresse 1</mat-label>
              <input matInput formControlName="Adr1" [value]="tier()?.Adr1" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Adresse 2</mat-label>
              <input matInput formControlName="Adr2" [value]="tier()?.Adr2" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Adresse 3</mat-label>
              <input matInput formControlName="Adr3" [value]="tier()?.Adr3" />
            </mat-form-field>
          </div>

          <!-- Ville, Code Postal, Pays -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ville</mat-label>
              <input matInput formControlName="Ville" [value]="tier()?.Ville" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Code Postal</mat-label>
              <input matInput formControlName="Codp" [value]="tier()?.Codp" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Pays</mat-label>
              <input matInput formControlName="Pays" [value]="tier()?.Pays" />
            </mat-form-field>
          </div>

          <!-- Téléphone, Fax, Email -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Téléphone</mat-label>
              <input matInput formControlName="Ntel" [value]="tier()?.Ntel" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fax</mat-label>
              <input matInput formControlName="Nfax" [value]="tier()?.Nfax" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                formControlName="Numemail"
                [value]="tier()?.Numemail"
              />
            </mat-form-field>
          </div>

          <!-- Mémo -->
          <div class="col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mémo</mat-label>
              <textarea
                matInput
                formControlName="Memo"
                [value]="tier()?.Memo"
                rows="3"
              ></textarea>
            </mat-form-field>
          </div>

          <!-- Checkboxes -->
          <div class="col-md-12 d-flex flex-wrap gap-4 px-3">
            <mat-checkbox
              formControlName="Adrinsee"
              [checked]="tier()?.Adrinsee"
              >Adresse INSEE</mat-checkbox
            >
            <mat-checkbox formControlName="Grcok" [checked]="tier()?.Grcok"
              >GRC OK</mat-checkbox
            >
            <mat-checkbox formControlName="Nonepur" [checked]="tier()?.Nonepur"
              >Non Épuré</mat-checkbox
            >
          </div>

          <!-- Champs supplémentaires -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Extension</mat-label>
              <input matInput formControlName="Ext" [value]="tier()?.Ext" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Image</mat-label>
              <input
                matInput
                formControlName="Images"
                [value]="tier()?.Images"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nom sur Titre</mat-label>
              <input
                matInput
                formControlName="Titnom"
                [value]="tier()?.Titnom"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Gommette</mat-label>
              <input
                matInput
                formControlName="Gommette"
                [value]="tier()?.Gommette"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>OLE</mat-label>
              <input matInput formControlName="Ole" [value]="tier()?.Ole" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Titre de Courtoisie</mat-label>
              <input
                matInput
                formControlName="Titrecou"
                [value]="tier()?.Titrecou"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Modifié par</mat-label>
              <input
                matInput
                formControlName="Modifpar"
                [value]="tier()?.Modifpar"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Constitution</mat-label>
              <input matInput formControlName="Const" [value]="tier()?.Const" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Historique</mat-label>
              <input matInput formControlName="Histo" [value]="tier()?.Histo" />
            </mat-form-field>
          </div>

          <!-- Adresse complémentaire 1/2/3 -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Adresse Complémentaire 1</mat-label>
              <input
                matInput
                formControlName="Adresse1"
                [value]="tier()?.Adresse1"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Adresse Complémentaire 2</mat-label>
              <input
                matInput
                formControlName="Adresse2"
                [value]="tier()?.Adresse2"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Adresse Complémentaire 3</mat-label>
              <input
                matInput
                formControlName="Adresse3"
                [value]="tier()?.Adresse3"
              />
            </mat-form-field>
          </div>

          <!-- Territoire -->
          <div class="col-md-3 col-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Territoire</mat-label>
              <input
                matInput
                formControlName="Territory"
                [value]="tier()?.Territory"
              />
            </mat-form-field>
          </div>

          <!-- Latitude / Longitude -->
          <div class="col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Latitude</mat-label>
              <input
                matInput
                type="number"
                formControlName="Latitude"
                [value]="tier()?.Latitude"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Longitude</mat-label>
              <input
                matInput
                type="number"
                formControlName="Longitude"
                [value]="tier()?.Longitude"
              />
            </mat-form-field>
          </div>

          <!-- NbPersonnes à Charge -->
          <div class="col-md-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nombre de Personnes à Charge</mat-label>
              <input
                matInput
                type="number"
                formControlName="Nbpercha"
                [value]="tier()?.Nbpercha"
              />
            </mat-form-field>
          </div>

          <!-- Submit -->
          <div class="col-12 text-end mt-4">
            <button class="btn btn-group btn-primary" type="submit">
              <mat-icon>save</mat-icon> Mettre à jour
            </button>
          </div>
        </div>
      </form>
    </div>
    } @else{
    <div class="col-12">
      <mat-card class="mb-4 p-4">
        <mat-card-title>Informations Générales</mat-card-title>
        <mat-card-content>
          <div class="row mt-3">
            <div class="col-md-3 col-12 mb-3">
              <strong>Type de Tiers:</strong>
              <span>{{
                tier()?.Typtiers == 1
                  ? "Personne Physique"
                  : "Personne Morale"
              }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Nature du Tiers:</strong>
              <span>{{ tier()?.Nattiers }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Num DPP:</strong>
              <span>{{ tier()?.Numdpp }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Titre:</strong>
              <span>{{ tier()?.Titre }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Raison Sociale:</strong>
              <span>{{ tier()?.Rsociale }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Référence:</strong>
              <span>{{ tier()?.Referenc }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Connexe:</strong>
              <span>{{ tier()?.Connexe }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Référence Externe:</strong>
              <span>{{ tier()?.Refext }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Adresse 1:</strong>
              <span>{{ tier()?.Adr1 }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Adresse 2:</strong>
              <span>{{ tier()?.Adr2 }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Adresse 3:</strong>
              <span>{{ tier()?.Adr3 }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Ville:</strong>
              <span>{{ tier()?.Ville }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Code Postal:</strong>
              <span>{{ tier()?.Codp }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Pays:</strong>
              <span>{{ tier()?.Pays }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Téléphone:</strong>
              <span>{{ tier()?.Ntel }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Fax:</strong>
              <span>{{ tier()?.Nfax }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Email:</strong>
              <span>{{ tier()?.Numemail }}</span>
            </div>
            <div class="col-md-6 col-12 mb-3">
              <strong>Mémo:</strong>
              <span>{{ tier()?.Memo }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mb-4 p-4">
        <mat-card-title>Informations Générales</mat-card-title>
        <mat-card-content>
          <div class="row mt-3">
            <div class="col-md-12 d-flex flex-wrap gap-4 px-3 mb-3">
              <div>
                <strong>Adresse INSEE:</strong>
                {{ tier()?.Adrinsee ? "Oui" : "Non" }}
              </div>
              <div>
                <strong>GRC OK:</strong> {{ tier()?.Grcok ? "Oui" : "Non" }}
              </div>
              <div>
                <strong>Non Épuré:</strong>
                {{ tier()?.Nonepur ? "Oui" : "Non" }}
              </div>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Extension:</strong>
              <span>{{ tier()?.Ext }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Image:</strong>
              <span>{{ tier()?.Images }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Nom sur Titre:</strong>
              <span>{{ tier()?.Titnom }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Gommette:</strong>
              <span>{{ tier()?.Gommette }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>OLE:</strong>
              <span>{{ tier()?.Ole }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Titre de Courtoisie:</strong>
              <span>{{ tier()?.Titrecou }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Modifié par:</strong>
              <span>{{ tier()?.Modifpar }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Constitution:</strong>
              <span>{{ tier()?.Const }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Historique:</strong>
              <span>{{ tier()?.Histo }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Adresse Complémentaire 1:</strong>
              <span>{{ tier()?.Adresse1 }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Adresse Complémentaire 2:</strong>
              <span>{{ tier()?.Adresse2 }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Adresse Complémentaire 3:</strong>
              <span>{{ tier()?.Adresse3 }}</span>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <strong>Territoire:</strong>
              <span>{{ tier()?.Territory }}</span>
            </div>
            <div class="col-md-6 mb-3">
              <strong>Latitude:</strong>
              <span>{{ tier()?.Latitude }}</span>
            </div>
            <div class="col-md-6 mb-3">
              <strong>Longitude:</strong>
              <span>{{ tier()?.Longitude }}</span>
            </div>
            <div class="col-md-12 mb-3">
              <strong>Nombre de Personnes à Charge:</strong>
              <span>{{ tier()?.Nbpercha }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </div>
</div>
