<div class="row">
  <div class="col-12">
    <div class="d-flex flex-column gap-4 p-4">

      <!-- Vehicle + Carte Grise -->
      <div class="row g-4">
        <div class="col-12 col-md-6">
          <!-- Vehicle Details -->
          <fieldset class="card p-4 h-100">
            <legend class="font-semibold text-lg">Véhicule</legend>
            <div class="d-flex flex-column gap-1">
              <label>Véhicule </label>
              <span class="input">{{ contratDetails().vehicule }}</span>

              <label>Usage </label>
              <span class="input">{{ contratDetails().usage }}</span>

              <label>Valeur à neuf </label>
              <span class="input">{{ contratDetails().valeurNeuve }}</span>

              <label>Expertise </label>
              <span class="input">{{ contratDetails().expertise }}</span>

              <label>Date acquisition </label>
              <span class="input">{{ contratDetails().dateAcquisition | date:'yyyy-MM-dd' }}</span>

              <label>Type </label>
              <span class="input">{{ contratDetails().type }}</span>

              <label>Dérogation FVA </label>
              <span class="input">{{ contratDetails().derogationFVA }}</span>
            </div>
          </fieldset>
        </div>

        <div class="col-12 col-md-6">
          <!-- Carte Grise -->
          <fieldset class="card p-4 h-100">
            <legend class="font-semibold text-lg">Carte Grise</legend>

            <label>Titulaire </label>
            <span class="input">{{ contratDetails().titulaire }}</span>

            <label>Nom </label>
            <span class="input">{{ contratDetails().titulaireNom }}</span>

            <div class="d-flex flex-column gap-1">
              <label>Marque </label>
              <span class="input">{{ contratDetails().marque }}</span>

              <label>Pays d'immat. </label>
              <span class="input">{{ contratDetails().paysImmat }}</span>

              <label>Modèle </label>
              <span class="input">{{ contratDetails().modele }}</span>

              <label>Type </label>
              <span class="input">{{ contratDetails().typeMine }}</span>

              <label>Immatriculation </label>
              <span class="input">{{ contratDetails().immatriculation }}</span>

              <label>Date carte grise </label>
              <span class="input">{{ contratDetails().dateCarteGrise | date:'yyyy-MM-dd' }}</span>

              <label>1ère circulation </label>
              <span class="input">{{ contratDetails().datePremiereCirculation | date:'yyyy-MM-dd' }}</span>

              <label>Genre </label>
              <span class="input">{{ contratDetails().genre }}</span>

              <label>Carrosserie </label>
              <span class="input">{{ contratDetails().carrosserie }}</span>
            </div>
          </fieldset>
        </div>
      </div>

      <!-- Infos Techniques -->
      <div class="row g-4">
        <div class="col-12">
          <fieldset class="card p-4">
            <legend class="font-semibold text-lg">Infos Techniques</legend>

            <div class="row g-3">
              <div class="col-12 col-sm-6 col-md-3">
                <label>Energie </label>
                <span class="input">{{ contratDetails().energie }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Transmission </label>
                <span class="input">{{ contratDetails().transmission }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Précédente immat. </label>
                <span class="input">{{ contratDetails().precedenteImmat }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Type mine </label>
                <span class="input">{{ contratDetails().typeMine }}</span>
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <label>VIN / N° identification </label>
                <span class="input">{{ contratDetails().numeroIdentification }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Puissance fiscale </label>
                <span class="input">{{ contratDetails().puissanceFiscale }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Cat. </label>
                <span class="input">{{ contratDetails().categorie }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Places assises </label>
                <span class="input">{{ contratDetails().placesAssises }}</span>
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <label>Poids à vide </label>
                <span class="input">{{ contratDetails().poidsVide }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Poids T.R. </label>
                <span class="input">{{ contratDetails().poidsTR }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Tx CO2 </label>
                <span class="input">{{ contratDetails().txCO2 }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Cat. CO2 </label>
                <span class="input">{{ contratDetails().catCO2 }}</span>
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <label>Cv </label>
                <span class="input">{{ contratDetails().cv }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Kilométrage </label>
                <span class="input">{{ contratDetails().kilometrage }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Couleur </label>
                <span class="input">{{ contratDetails().couleur }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label>Clé Rép. </label>
                <span class="input">{{ contratDetails().cleRep }}</span>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

    </div>
  </div>
</div>
