<div class="container-fluid">
  <div class="row">

    @if(contratDetails()){
      <div class="col-12">
      <!-- contrat-stepper.component.html -->

      <h5
        >Informations générales et choix du produits</h5
      >
      <details-info-general-contrat
        [isContrat]="isContrat"
        [contratDetails]="contratDetails"
      ></details-info-general-contrat>
      <details-produits-contrat
        [isContrat]="isContrat"
        [contratDetails]="contratDetails"
      ></details-produits-contrat>


      <h5>Données administratives</h5>
      <details-admin-contrat
        [contratDetails]="contratDetails"
      ></details-admin-contrat>


      <h5>Données administratives - Pieces</h5>
      <details-admin-piece-contrat
        [contratDetails]="retrievedcontratDetails"
      ></details-admin-piece-contrat>


      <h5>Risques</h5>
      <details-risque-contrat
        [contratDetails]="contratDetails"
      ></details-risque-contrat>



      <list-quittance-details
        [contratDetails]="contratDetails"
      ></list-quittance-details>

      <!-- Ajoute les autres étapes ici -->
    </div>
    }
  </div>
</div>
