<div class="row">
  <div class="col-12">
    @if(isEdit()){
    <form [formGroup]="form" class="card">
      <!-- Échéances -->
      <div class="d-flex gap-5 mb-5">
        <fieldset
          formGroupName="echeances"
          class="d-flex gap-4 card flex-column w-100 m-2"
        >
          <legend class="font-semibold text-lg">Échéances</legend>
          <div class="d-flex gap-5">
            <div class="d-flex flex-column gap-4">
              <div class="d-flex gap-4">
                <div>
                  <label>Fractionnement: </label>
                  <select
                    formControlName="fractionnement"
                    class="border p-1 rounded"
                  >
                    @for(f of fractionnements;track f){
                    <option [value]="f">{{ f }}</option>
                    }
                  </select>
                </div>
                <div>
                  <label>Jour: </label>
                  <input
                    type="number"
                    formControlName="jour"
                    class="border p-1 rounded w-16"
                  />
                </div>

                <div>
                  <label>Mois: </label>
                  <input
                    type="number"
                    formControlName="mois"
                    class="border p-1 rounded w-16"
                  />
                </div>
              </div>
              <div class="d-flex gap-4">
                <label
                  ><input type="checkbox" formControlName="termeEchu" /> Terme
                  échu</label
                >
                <label
                  ><input
                    type="checkbox"
                    formControlName="sansTaciteReconduction"
                  />
                  Sans tacite reconduction</label
                >
              </div>

              <label
                >Prochaine échéance :
                <input
                  type="date"
                  formControlName="prochaineEcheance"
                  class="border p-1 rounded w-full"
                />
              </label>
              <label
                >Periode en cours :
                <input
                  type="text"
                  formControlName="periodeEnCours"
                  class="border p-1 rounded w-full"
                />
              </label>
              <label
                >Période anniversaire :
                <input
                  type="text"
                  formControlName="periodeAnniversaire"
                  class="border p-1 rounded w-full"
                />
              </label>
              <label
                >Date de suspension prévisionnelle :
                <input
                  type="date"
                  formControlName="dateSuspensionPrevisionnelle"
                  class="border p-1 rounded w-full"
                />
              </label>
              <label
                >Date de résiliation prévisionnelle :
                <input
                  type="date"
                  formControlName="dateResiliationPrevisionnelle"
                  class="border p-1 rounded w-full"
                />
              </label>
            </div>
          </div>
        </fieldset>

        <!-- Situation Comptable -->
        <fieldset
          formGroupName="situationComptable"
          class="d-flex gap-4 flex-column w-100 card m-2"
        >
          <legend class="font-semibold text-lg">Situation comptable</legend>
          <p>Net : {{ form.get("situationComptable.net")?.value }}</p>
          <p>Impayés : {{ form.get("situationComptable.impayes")?.value }}</p>
          <p>Actes : {{ form.get("situationComptable.actes")?.value }}</p>
        </fieldset>
      </div>
      <!-- Gestion -->
      <fieldset
        formGroupName="gestion"
        class="d-flex gap-4 flex-column w-100 m-2 card"
      >
        <legend class="font-semibold text-lg">Informations de gestion</legend>

        <label
          >Gestionnaire :
          <input
            type="text"
            formControlName="gestionnaire"
            class="border p-1 rounded w-full"
          />
        </label>

        <label
          >Centre de gestion Cie :
          <input
            type="text"
            formControlName="centreGestionCie"
            class="border p-1 rounded w-full"
          />
        </label>

        <label
          >Mode de gestion :
          <input
            type="text"
            formControlName="modeGestion"
            class="border p-1 rounded w-full"
          />
        </label>

        <label
          >Destinataire des taxes :
          <input
            type="text"
            formControlName="destinataireTaxes"
            class="border p-1 rounded w-full"
          />
        </label>

        <div class="flex gap-4">
          <label
            >% Commission attendue :
            <input
              type="number"
              formControlName="commissionAttendue"
              class="border p-1 rounded w-24"
            />
          </label>
          <label
            >dont commission de gestion :
            <input
              type="number"
              formControlName="commissionGestion"
              class="border p-1 rounded w-24"
            />
          </label>
        </div>

        <div class="flex gap-4">
          <label
            ><input type="checkbox" formControlName="pollicitationInterdite" />
            Pollicitation interdite</label
          >
          <label
            ><input type="checkbox" formControlName="aConserverSiEpuration" /> À
            conserver si épuration</label
          >
        </div>

        <label
          >Date de réalisation :
          <input
            type="date"
            formControlName="dateRealisation"
            class="border p-1 rounded w-full"
          />
        </label>

        <label
          >Signature :
          <input
            type="text"
            formControlName="signature"
            class="border p-1 rounded w-full"
          />
        </label>

        <label
          >Préavis résiliation (mois) :
          <input
            type="text"
            formControlName="preavisResiliation"
            class="border p-1 rounded w-full"
          />
        </label>

        <label
          >Modalités de révision :
          <input
            type="text"
            formControlName="modalitesRevision"
            class="border p-1 rounded w-full"
          />
        </label>

        <label
          >Durée fixe (ans) :
          <input
            type="number"
            formControlName="dureeFixe"
            class="border p-1 rounded w-full"
          />
        </label>
      </fieldset>
    </form>
    } @else{
    <div class="card p-4">
      <!-- Échéances -->
      <div class="d-flex gap-5 mb-5">
        <fieldset class="d-flex gap-4 card flex-column w-100 m-2">
          <legend class="font-semibold text-lg">Échéances</legend>

          <div class="d-flex gap-4 flex-wrap">
            <div>
              <label>Fractionnement:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.fractionnement")?.value}}</span>
            </div>
            <div>
              <label>Jour:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.jour")?.value
              }}</span>
            </div>
            <div>
              <label>Mois:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.mois")?.value
              }}</span>
            </div>
          </div>

          <div class="d-flex gap-4 mt-3">
            <div>
              <label>Terme échu:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.termeEchu")?.value ? "Oui" : "Non"
              }}</span>
            </div>
            <div>
              <label>Sans tacite reconduction:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.sansTaciteReconduction")?.value
                  ? "Oui"
                  : "Non"
              }}</span>
            </div>
          </div>

          <div class="d-flex flex-column gap-2 mt-3">
            <div>
              <label>Prochaine échéance:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.prochaineEcheance")?.value
              }}</span>
            </div>
            <div>
              <label>Période en cours:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.periodeEnCours")?.value
              }}</span>
            </div>
            <div>
              <label>Période anniversaire:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.periodeAnniversaire")?.value
              }}</span>
            </div>
            <div>
              <label>Date de suspension prévisionnelle:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.dateSuspensionPrevisionnelle")?.value
              }}</span>
            </div>
            <div>
              <label>Date de résiliation prévisionnelle:</label>
              <span class="ml-2 font-medium">{{
                form.get("echeances.dateResiliationPrevisionnelle")?.value
              }}</span>
            </div>
          </div>
        </fieldset>

        <!-- Situation Comptable -->
        <fieldset class="d-flex gap-4 flex-column w-100 card m-2">
          <legend class="font-semibold text-lg">Situation comptable</legend>
          <div>
            <label>Net:</label>
            <span class="ml-2 font-medium">{{
              form.get("situationComptable.net")?.value
            }}</span>
          </div>
          <div>
            <label>Impayés:</label>
            <span class="ml-2 font-medium">{{
              form.get("situationComptable.impayes")?.value
            }}</span>
          </div>
          <div>
            <label>Actes:</label>
            <span class="ml-2 font-medium">{{
              form.get("situationComptable.actes")?.value
            }}</span>
          </div>
        </fieldset>
      </div>

      <!-- Gestion -->
      <fieldset class="d-flex gap-4 flex-column w-100 m-2 card">
        <legend class="font-semibold text-lg">Informations de gestion</legend>

        <div>
          <label>Gestionnaire:</label>
          <span class="ml-2 font-medium">{{
            form.get("gestion.gestionnaire")?.value
          }}</span>
        </div>
        <div>
          <label>Centre de gestion Cie:</label>
          <span class="ml-2 font-medium">{{
            form.get("gestion.centreGestionCie")?.value
          }}</span>
        </div>
        <div>
          <label>Mode de gestion:</label>
          <span class="ml-2 font-medium">{{
            form.get("gestion.modeGestion")?.value
          }}</span>
        </div>
        <div>
          <label>Destinataire des taxes:</label>
          <span class="ml-2 font-medium">{{
            form.get("gestion.destinataireTaxes")?.value
          }}</span>
        </div>

        <div class="d-flex gap-4">
          <div>
            <label>% Commission attendue:</label>
            <span class="ml-2 font-medium">{{
              form.get("gestion.commissionAttendue")?.value
            }}</span>
          </div>
          <div>
            <label>Dont commission de gestion:</label>
            <span class="ml-2 font-medium">{{
              form.get("gestion.commissionGestion")?.value
            }}</span>
          </div>
        </div>

        <div class="d-flex gap-4">
          <div>
            <label>Pollicitation interdite:</label>
            <span class="ml-2 font-medium">{{
              form.get("gestion.pollicitationInterdite")?.value ? "Oui" : "Non"
            }}</span>
          </div>
          <div>
            <label>À conserver si épuration:</label>
            <span class="ml-2 font-medium">{{
              form.get("gestion.aConserverSiEpuration")?.value ? "Oui" : "Non"
            }}</span>
          </div>
        </div>

        <div>
          <label>Date de réalisation:</label>
          <span class="ml-2 font-medium">{{
            form.get("gestion.dateRealisation")?.value
          }}</span>
        </div>
        <div>
          <label>Signature:</label>
          <span class="ml-2 font-medium">{{
            form.get("gestion.signature")?.value
          }}</span>
        </div>
        <div>
          <label>Préavis résiliation (mois):</label>
          <span class="ml-2 font-medium">{{
            form.get("gestion.preavisResiliation")?.value
          }}</span>
        </div>
        <div>
          <label>Modalités de révision:</label>
          <span class="ml-2 font-medium">{{
            form.get("gestion.modalitesRevision")?.value
          }}</span>
        </div>
        <div>
          <label>Durée fixe (ans):</label>
          <span class="ml-2 font-medium">{{
            form.get("gestion.dureeFixe")?.value
          }}</span>
        </div>
      </fieldset>
    </div>

    }
  </div>
</div>
